<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="../../../AuthLog/NLogInfo.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="All_Logs"    fileName="../../../AuthLog/All_Logs.log"></target>
		<target xsi:type="File" name="Log_Warning" fileName="../../../AuthLog/Log_Warning.log"></target>
		<target xsi:type="File" name="Log_Error"   fileName="../../../AuthLog/Log_Error.log"></target>
	</targets>

	<rules>
		<logger name="*" minLevel="Debug" writeTo="All_Logs"></logger>
		<logger name="*" minLevel="Warn" maxLevel="Warn" writeTo="Log_Warning"></logger>
		<logger name="*" minLevel="Error" writeTo="Log_Error"></logger>
	</rules>
</nlog>
